@import '../../assets/styles/colors';

.main {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin:2%;
    
    .upmenu{
      padding: 10px;
      background-color: #f0f0f0;
    }
    

    .events {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px; /* Dodałem padding dla lepszego wyglądu */
      background-color: #f0f0f0; /* Dodałem tło dla upbar */
      
    }
  
   
    .downbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: #f0f0f0;
    }
  }




  