

@import '../../assets/styles/colors';

$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;
.Main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin-top: 5%;
    margin-bottom:5%;
    .aprove{
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color:green !important;
        font-weight: bold;
        font-size: large;
      }
    
    .topic {
      font-weight: bold;
      font-size: xx-large;
      text-align: center;
      margin-bottom: 20px;
    }
    .MainForm{

   background-color: $light-gray; 
   border-radius:20px;
   border:2px solid $primary;



    .up {
       
        flex-direction: row;
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding-bottom: 20px;
        background-color: $secondary;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        font-weight:bold;
        border-bottom:2px solid $primary;
        min-height:100px;
        .upA {
            
            
            width:100%;
          
           input{
            border:2px solid $primary;
            font-weight:normal;
            border-radius:5px;
            text-align: center;
            min-height:50px;
            width:80%;
            
           }
        }
        .upB {
            
            width:100%;
            input{
                border:2px solid $primary;
                border-radius:5px;
                font-weight:normal;
                text-align: center;
                min-height:50px;
                width:80%;
               }
        }
        .upC {
            
            width:100%;
            input{
                border:2px solid $primary;
                font-weight:normal;
                border-radius:5px;
                text-align: center;
                min-height:50px;
                width:80%;
               }
        }
        .upD {
            
            width:100%;
            input{
                border:2px solid $primary;
                font-weight:normal;
                border-radius:5px;
                text-align: center;
               min-height:50px;
                width:80%;
               }
        }
    }

    .mid {
        flex-direction: row;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-bottom: 20px;
        padding-top:20px;
        
        background-color: $light-gray;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        font-weight:bold;
        .midA{
            
            width:100%;
            textarea{
                border:2px solid $primary;
                font-weight:normal;
                border-radius:5px;
                resize: none;
                min-height:200px;
                width:80%;
                
            }
        }
        .midB{
            
            width:100%;
            textarea{
                border:2px solid $primary;
                font-weight:normal;
                border-radius:5px;
                resize: none;
                min-height:200px;
                width:80%;
                
            }
        }
        .midC{
            
            width:100%;
            textarea{
                border:2px solid $primary;
                font-weight:normal;
                border-radius:5px;
                resize: none;
               min-height:200px;
                width:80%;
                
            }
        }
    }

    .down {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: row;
       min-height:100px;
        
        
        background-color: $secondary;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top:2px solid $primary;
        font-weight:bold;
        .downA{
            width:100%;
            input{
                border:2px solid $primary;
                font-weight: normal;
                background-color: $white;
                border-radius:5px;
                width:80%;

            }
        }
        .downB{
            width:100%;
            input{
                border:2px solid $primary;
                font-weight: normal;
                background-color: $white;
                border-radius:5px;
                width:80%;
            }
            
        }
        .Submit{
           
            width:100%;
                input{
                        margin-top: 5px;
                        margin-bottom:5px;
                        width:50%;
                        min-height:50px;
                        border-radius:20px;
                        color:white;
                        border:2px solid $primary;
                        background:$primary;
                    
                }
                input:hover{
                    background-color: lighten($secondary, 10%);
                    border:2px solid $primary;
                    transition: 0.2s;
                }
            }
        
    }
}
.error{
    font-size:small;
    color:$red;
}
}
@media (max-width: $breakpoint-tablet) {
    .Main .MainForm, .Main .up, .Main .mid, .Main .down {
      flex-direction: column; // Ustawiamy kierunek kolumnowy
      align-items: stretch; // Rozciągamy elementy, aby wypełniały kontener
    }
    
    .Main {
        .up,.mid,.down{

            display: flex;
            flex-direction: row;
            flex-wrap: wrap; 
            justify-content: space-around;
            align-items: center; 
          
            input, textarea {
                width: 100%; 
              }
              
              p {
                text-align: left;
                padding: 0 5%;
              }
             
          
        }
        
    
    }
    
    .Main .topic {
      font-size: large; // Zmniejszamy rozmiar nagłówka dla urządzeń mobilnych
    }
  }
  
  @media (max-width: $breakpoint-mobile) {
  
  }