// maps.module.scss
@import '../../assets/styles/colors';

.roundedButton {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 5px 30px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;

  &:hover {
    background-color: black;
    color: white;
  }
}

.buttonnav {
  background-color: white;
  color: black;
  border: 2px solid $secondary;
  padding: 0px 10px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;

  &:hover {
    background-color: black;
    color: white;
  }
}

.button {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.date {
  text-align: center;
  margin-bottom: 20px;
}

.adress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  

  .addresname {
    margin: 0;
  }
}

.mapa {
  text-align: center;
  margin-bottom: 10px;
}
