@import '../../../assets/styles/colors';

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  margin: 0% 5% 0% 5%;
  height: auto;


  .up {
    position: relative;
    width: 100%;
    height: 300px;
  }

  .profileBanner {
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .profileDiv{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .profileLeft{
    display: flex;
    align-items: center;
    padding-left: 6rem;
    flex-wrap: wrap;

  }

  .profileSquare{
    background-color: white;
    color: black;
    height: 100px;
    width: 100px;
    margin-top: -50px;
    z-index: 10;
    overflow: hidden;
    border: 3px solid $secondary;

  }
  .avatar {
    width: 100%;
    height: 100%;
  }

  .profileName{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    

    p{
      padding: 4px;
      font-size: 22px;
      font-weight: bold;
    }
  }
  .followers{
    font-size: 16px;
    padding-left: 20px;
  }
  .divButton{
    padding-right: 1rem;
    display: flex;
    gap: 1rem;
  }
  .button{
    background-color: $secondary;
    color: $white;
    font-size: 1rem;
    width: 100%;
    padding: 0.4rem 0.7rem;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 0.3rem;
    &:hover {
      background-color: lighten($secondary, 10%);
    } 
  }
  .buttonCancel{
    background-color: #C70000;
    color: white;
    font-size: 1rem;
    border:none;
    border-radius: 0.3rem;
    padding: 0 0.7rem 0 0.7rem;
    font-weight: 600;
    &:hover {
      background-color: lighten(#C70000, 10%);
    } 
  }

  .next {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin: 1rem;


  .profileInfo {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 1rem;

    .description {
      padding: 10px;
      border: 3px solid $secondary;
      border-radius: 12px;
      box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.8);
      background-color: #f3f2f3;
      height: 100%;

      legend {
        font-size: 1.3rem;
        font-weight: 600;
        color: $black;
      }
      .aboutTextArea{
        font-weight:normal;
        border-radius:5px;
        resize: none;
        height:100%;
        width:100%;
      }
      .paragrafAbout {
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
        hyphens: auto;
        text-wrap: balance;
        height: 380px; 
        overflow-y: auto; 
      }
    }
    .contact {
      font-size: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;
      padding: 1rem;
    }
    .SocialInputContainer{
      display: flex;
      flex-direction: column;
      width: 100%;

      .socialInput{
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;

        .socialFacebook,
        .socialInstagram,
        .socialTiktok,
        .socialYoutube{
          font-weight: normal;
          border-radius: 5px;
          font-size: small;
          width: 100%;

        }
      }
    }

  }

  .eventHistory {
    height: 100%;
    width: 60%;
  }

  .followersContainer {
    height: 100%;
    width: 20%;
    padding: 1rem;
    margin-top: 1rem;
  }

  @media (max-width: 1450px) {
    flex-wrap: wrap;
    .profileInfo{
      width: 100%;
    }
    .eventHistory,
    .followersContainer {
      flex:auto;

    }
  }
  @media (max-width: 650px) {
    flex-direction: column;
    justify-content: center;
    margin: 0;
    .profileInfo{
      width: 100%;
    }
    .eventHistory,
    .followersContainer {
      width: 100%;
      align-items: center;

    }
  }
  
  
}
  
  @media (max-width: 800px) {
    .profileDiv {
      flex-direction: column;
    }
    .profileLeft{
      padding: 0;
    }
  }
  @media (max-width: 550px) {
    .profileDiv,
    .profileLeft {
      flex-direction: column;
      padding: 0;

      .followers{
        padding: 0;
      }
      .divButton{
        padding: 0;
      }
    }
  }
}
