// ./src/components/details/details.module.scss
@import '../../assets/styles/colors';
.details {
  margin-left: auto;
  margin-right: auto;
  margin-bottom:10px;
  margin-top:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius:20px;
  min-height: 300px;
  width:80%;
  font-weight: bold;
  box-shadow: 5px 20px 20px -5px rgba(0,0,0,0.8);
  
 .tabHeaders {
    display: flex;
    margin: 0;
    
  }
  
  .tabHeader {
    flex: 1;
    text-align: center;
    cursor: pointer;
    background-color: $light-gray;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top:2px solid $secondary;
    border-left:2px solid $secondary;
    border-right:2px solid $secondary;
    border-bottom:2px solid $secondary;
    
    &.active {
      background-color: $background;
      border-bottom: 0;
    }
    
  }
  
  .tabContent {
    background-color:$background;
    min-height: 300px;
    border-bottom:2px solid $secondary;
    border-left:2px solid $secondary;
    border-right:2px solid $secondary;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .tabPanel {
    background-color:$background;
    padding:10px;
  }
}
