@import '../../assets/styles/colors';

.upbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .search,
  .filters {
    flex: 0 0 20%;
    margin: 2% 2%;
  }

  .searchinput {
    border: 2px solid $black;
    border-radius: 10px;
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
  }

  .searchIconSvg {
    fill: $primary;
    width: 16px;
    height: 16px;
    margin-left: -25px;
    top: 50%;
    transform: translateY(20%);
  }

  .filters {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Wyśrodkuj paragraf po prawej stronie */

    .filtersIconSvg {
      margin-left: 5px;
      fill: $primary;
      width: 16px;
      height: 16px;
    }

    p {
      color: $primary;
      margin-left: 10px; /* Dodaj odstęp między ikoną a tekstem */
    }
  }
}
