@import '../../assets/styles/colors';


.upbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
  
    .search,
    .filters {
   
      flex: 0 0 20%; /* Każdy element ma zajmować 10% szerokości ekranu */
      margin: 2% 2%; /* Dodaj marginesy między elementami */
    }

    .searchinput{
      border: 2px solid $black;
      border-radius: 10px;
      padding: 5px 10px; /* 30px to szerokość ikony + odstęp */
      width: 100%;
      box-sizing: border-box; /* Zapewnia, że padding nie wpływa na całkowitą szerokość */
    }
    
    .searchIconSvg {
      fill: $primary;
      width: 16px; /* Ustaw szerokość ikony */
      height: 16px; /* Ustaw wysokość ikony */
      margin-left: -25px; /* Przesuń ikonę w lewo, aby była częścią inputa */
      top:50%;
      transform: translateY(20%);
    }

    .filters p {
      width:100%;
      color: $primary;
    }


    .filtersIconSvg{
      position: absolute;
      margin-left:5px;
      fill: $primary;
      width: 16px; /* Ustaw szerokość ikony */
      height: 16px; /* Ustaw wysokość ikony */
     
    }
  }