@import "../../assets/styles/colors";

@mixin sectionFlex {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.container {
  margin-top: 50px;
  width: 100vw;
  color: $white;

  .navigation,
  .credentials,
  .title,
  .footerNav,
  .credit,
  .section1,
  .section2,
  .section3,
  .section4,
  .contact,
  .social {
    width: 100%; // Set each section to span the entire width
  }

  .navigation {
    background-color: $primary;
    min-height: 200px;
    padding: 20px 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
  }

  .credentials {
    background-color: $black;
    height: 50px;
    padding: 0 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
  }

  .title {
    color: $light-gray;
    font-weight: bold;
  }

  .footerNav {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
  }

  .credit {
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1 0 50%; // Two columns on smaller screens
  }

  .section1,
  .section2,
  .section3,
  .section4,
  .contact {
    @include sectionFlex;
    flex: 1; // Each section takes equal space
    margin-right: 16px; // Add some spacing between sections
  }

  .social {
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 600px) {
    .navigation,
    .credentials {
      justify-content: space-between;
      gap: 24px;
      padding: 20px 24px !important;
    }

    .credit {
      flex: 1 0 50%; // Two columns on smaller screens
    }

    .section1,
    .section2,
    .section3,
    .section4,
    .contact {
      margin-right: 24px;
    }

    .social {
      flex: 1 0 24%; // Adjust the width on larger screens
    }
  }

  @media (min-width: 992px) {
    .social {
      flex: 1 0 8%; // Adjust the width on larger screens
    }
  }
}
