@import '../../assets/styles/colors';
.main {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    margin: 0% 5% 0% 5%;
    padding: 10px;
    min-height: auto;
    
    .container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      
      
    }
}