@import '../../assets/styles/colors';
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
    padding: 5px;
  
    .upbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 5%;
      //padding: 10px; /* Dodałem padding dla lepszego wyglądu */
      
      
      .search,
      .filters {
     
        flex: 0 0 20%; /* Każdy element ma zajmować 10% szerokości ekranu */
        margin: 1% 1%; /* Dodaj marginesy między elementami */
      }

      .searchinput{
        border: 2px solid $black;
        border-radius: 10px;
        padding: 5px 10px; /* 30px to szerokość ikony + odstęp */
        width: 100%;
        box-sizing: border-box; /* Zapewnia, że padding nie wpływa na całkowitą szerokość */
      }
      
      .searchIconSvg {
        fill: $primary;
        width: 16px; /* Ustaw szerokość ikony */
        height: 16px; /* Ustaw wysokość ikony */
        margin-left: -25px; /* Przesuń ikonę w lewo, aby była częścią inputa */
        top:50%;
        transform: translateY(20%);
      }

      .filters p {
        width:100%;
        color: $primary;
      }


      .filtersIconSvg{
        position: absolute;
        margin-left:5px;
        fill: $primary;
        width: 16px; /* Ustaw szerokość ikony */
        height: 16px; /* Ustaw wysokość ikony */
       
      }
    }
    .container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }



  
  }